$primaty_orange: #ffb800;

$primary_black: #000000;
$light_black: #696969;

$primaty_gray: #2b2b2b;
$dark_gray: #1a1a1a;

$primary_text: #000000;
$secondary_text: #a6acbe;

$background: #e5e5e5;

$success_main: #fe5834;
$success_light: #ff947c;

$info_main: #007eff;

$error_main: #fe5834;
$error_light: #ff947c;
