$primaty_orange: #FFB800;

$primary_black: #000000;
$light_black: #696969;

$primaty_gray: #2B2B2B;
$dark_gray: #1A1A1A;

$primary_text: #000000;
$secondary_text: #A6ACBE;

$background: #E5E5E5;

$success_main: #FE5834;
$success_light: #FF947C;

$info_main: #007EFF;

$error_main: #FE5834;
$error_light: #FF947C;
